body {
    background-color: #E6E6E6;
}




.wrap {
    color: #E6E6E6;
    background-color: #666666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    height: 200px;
    border: 5px solid hsl(0, 0%, 40%);
    padding: 5px;
    outline: 5px solid hsl(0, 0%, 60%);
    box-shadow:
        0 0 0 10px hsl(0, 0%, 80%),
        0 0 0 15px hsl(0, 0%, 90%);
}

h1 {
    padding-top: 20px;
}

#btn {
    padding: 10px;
    background-color: #E6E6E6;
    color: #666666;
}